*{
	background: none;
	border: none;
	-webkit-transition: color 5s;
	transition: color 5s;
	-webkit-transition: height .9s linear;
	transition: height .9s linear;
}

body{
	font-size: 3vh;
	font-family: "Saira Semi Condensed";
	background: #18191A;
}

h1{
	text-align: center;
	height: 10vh;
}

#Pomodoro_Clock{
	height: 80vh;
	position: relative;
	display: flex;
	justify-content: center;
	position: relative;
}

.breakTime{
	height: 60vh;
	width: 50%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.breakTime .dec{
	position: absolute;
	left: -45%;
	top: 70%;
}

.break{
	position: absolute;
	left: -35%;
	top: 45%;
	font-size: 200%;
}

.break+br+p{
	position: absolute;
	left: -50%;
	top: 45%;
	font-size: 200%;
}

.breakTime h2{
	position: absolute;
	left: -45%;
	top: 10%;
	font-size: 130%;
}

.breakTime .inc{
	position: absolute;
	left: -45%;
	top: 30%;
}

.breakBar{
	height: 0%;
	width: 100%;
	background: #00FF0D;
	position: absolute;
	bottom: 0;
	z-index: -1;
}

.sessionTime{
	height: 60vh;
	width: 50%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.sessionTime .dec{
	position: absolute;
	right: -45%;
	top: 70%;
}

.session{
	position: absolute;
	right: -35%;
	top: 45%;
	font-size: 200%;
}

.session+br+p{
	position: absolute;
	right: -50%;
	top: 45%;
	font-size: 200%;
}

.sessionTime h2{
	position: absolute;
	right: -50%;
	top: 10%;
	font-size: 130%;
}

.sessionTime .inc{
	position: absolute;
	right: -45%;
	top: 30%;
}

.sessBar{
	height: 100%;
	width: 100%;
	background: #FFC800;
	position: absolute;
	bottom: 0;
	z-index: -1;
}
/*Drawing the battery...*/
.battery{
	height: 60vh;
	width: 50%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	border: 20px solid black;
	top: -20px;
}

.battery::after {
 	background-color: #000;
 	content: "";
 	display: block;
 	height: 10%;
 	top: -10%;
 	width: 30%;
 	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
 	position: absolute;
}

.bar1{
	position: absolute;
	top: 18%;
	width: 102%;
	height: 10vh;
	transform: skew(0deg, 21deg);
	background: black;
}

.bar2{
	position: absolute;
	top: 63%;
	width: 102%;
	height: 10vh;
	transform: skew(0deg, 21deg);
	background: black;	
}

.timer{
	text-align: center;
	font-size: 220%;
}

.message{
	position: relative;
	text-align: center;
	font-size: 100%;
	bottom: 5%;
}

button{
	height: 10vh;
	width: 10vh;
	font-size: 200%;
}

.before:hover{
	border: 1px solid #FFC800;
}

.after:hover{
	border: 1px solid #00FF0D;
}

#clock{
	height: 14vh;
	width: 80%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -62vh;
}

#clock button{
	height: 100%;
	width: 30%;
	font-size: 150%;
}

#clock .start{
	position: absolute;
	bottom: 0;
	left: 0;
}

#clock .pause{
	position: absolute;
	bottom: 0;
	right: 0;
}

.after{
	color: #00FF0D;
}

.before{
	color: #FFC800;
}

.fa{
	-webkit-transition: color 5s;
	transition: color 5s;
}